<div id="page-content-wrapper">
  <div class="content-header">
    <h1>
      <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      Add A New Expense
    </h1>
  </div>
</div>

<div class="page-content inset">

  <%= form_for :expense, url: expenses_path, html: {id: 'expense_form',class: 'navbar-form navbar-left'} do |f| %>

      <div class="col-md-7 input-group">
        <span class="input-group-addon">Date</span>
        <%= f.date_field :date, {class: 'form-control datepicker', id: 'datepicker', 'data-date-format' => 'yyyy/mm/dd'} %>
      </div>


      <div class="col-md-7 input-group">
        <span class="input-group-addon">Category</span>
        <%= f.select :category, options_for_select(%w[Food Entertainment Utilities Travel Misc]), {}, {class: 'form-control'} %>
      </div>


      <div class="col-md-7 input-group">
        <span class="input-group-addon">Amount (INR)</span>
        <%= f.number_field :amount, class: 'form-control' %>
      </div>


      <div class="col-md-7 input-group">
            <%= f.submit class: 'btn btn-default', value: 'Submit Expense' %>
      </div>

  <% end %>

</div>

