<!DOCTYPE html>
<html>
<head>
  <title>ExpenseTracker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">Expense Manager
      </li>
      <li>
        <%= link_to 'Dashboard', controller: 'dashboard', action: 'index' %>
      </li>
      <li>
        <%= link_to 'Add New Expense', new_expense_url %>
      </li>
    </ul>
  </div>

  <%= yield %>
</div>

</body>
</html>
